<section class="banner curve">
  <div
    class="banner-list"
    data-track="index_rotation_new"
    style="width: 2625px; transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); transition-duration: 0ms; transform: translate(-1125px, 0px) scale(1) translateZ(0px);"
  >
    <a
      href="https://www.xiaoyusan.com/insurance/detail?id=135415&amp;chn=h5index_h5_banner0527_mira"
      class="banner-item"
      style="width: 375px; pointer-events: auto;"
      ><img
        src="https://sslstatic.xiaoyusan.com/act/img/1559296728.png"
        alt=""
        class="banner-img"/></a
    ><a
      href="https://www.xiaoyusan.com/insurance/detail?id=136956&amp;chn=h5index_h5_banner0531"
      class="banner-item"
      style="width: 375px; pointer-events: auto;"
      ><img
        src="https://sslstatic.xiaoyusan.com/act/img/1559619058.jpg"
        alt=""
        class="banner-img"/></a
    ><a
      href="https://www.xiaoyusan.com/insurance/detail?id=136968&amp;chn=h5index_h5_banner0610"
      class="banner-item"
      style="width: 375px; pointer-events: auto;"
      ><img
        src="https://sslstatic.xiaoyusan.com/act/img/1559638058.png"
        alt=""
        class="banner-img"/></a
    ><a
      href="https://dwz.cn/E46ZJtHe?chn=h5index"
      class="banner-item"
      style="width: 375px; pointer-events: auto;"
      ><img
        src="https://sslstatic.xiaoyusan.com/act/img/1559636656.jpg"
        alt=""
        class="banner-img"/></a
    ><a
      href="https://www.xiaoyusan.com/insurance/detail?id=133820&amp;chn=h5index_H5_banner0604_mira"
      class="banner-item"
      style="width: 375px; pointer-events: auto;"
      ><img
        src="https://sslstatic.xiaoyusan.com/act/img/1559645000.jpg"
        alt=""
        class="banner-img"/></a
    ><a
      href="https://www.xiaoyusan.com/insurance/detail?id=135415&amp;chn=h5index_h5_banner0527_mira"
      class="banner-item"
      style="width: 375px; pointer-events: auto;"
      ><img
        src="https://sslstatic.xiaoyusan.com/act/img/1559296728.png"
        alt=""
        class="banner-img"/></a
    ><a
      href="https://www.xiaoyusan.com/insurance/detail?id=136956&amp;chn=h5index_h5_banner0531"
      class="banner-item"
      style="width: 375px; pointer-events: auto;"
      ><img
        src="https://sslstatic.xiaoyusan.com/act/img/1559619058.jpg"
        alt=""
        class="banner-img"
    /></a>
  </div>
  <div class="banner-dot row">
    <i class=""></i><i class=""></i><i class="active"></i><i class=""></i
    ><i class=""></i>
  </div>
</section>
